# Core Libraries
streamlit==1.30.0
pandas==2.1.4
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.12.2
plotly==5.20.0
altair==5.2.0
requests==2.31.0
isodate==0.6.1
python-dotenv==1.0.1

# Google API Dependencies
google-auth==2.30.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.2.0
google-api-python-client==2.127.0
google-analytics-data==0.17.0
protobuf==4.25.3

# Twitter API (Tweepy)
tweepy==4.14.0
